<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
  <title>JavaScript Quiz</title>
  <style type="text/css">
    h1 {
      text-align: center;
      font-family: Arial;
      color: Navy;
    }

    p {
      margin-left: 300px;
      margin-right: 300px;
      font-size: 14pt;
    }

    div {
      margin-left: 300px;
      margin-right: 300px;
    }

    img {
      width: 20%;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  </style>
</head>
<body>
  <h1>Reflect the Image</h1>
  <p>
    There are two images shown below along with two text strings. Create the
    functionality whereby if you click on the Smiley.jpg image, the text
    string "Web Tech Rocks" is shown in red font, size 2em, using Lucida
    Handwriting with a yellow background. If you click on frown.jpg image, the
    string "Web Tech Sucks" is shown in green font, bold, size 2em, and using
    Arial. When one text string is shown, the other should not be displayed.
    Use as many functions as you see necessary to complete this functionality.
  </p>
  <div>
    <img alt="Smiling Face" src="images/smiley.jpg" title="Smile"/>
    <span>Web Tech Rocks!</span>
  </div>
  <div>
    <img alt="Frown Face" src="images/frown.jpg" title="Sad"/>
    <span>Web Tech Sucks!</span>
  </div>
</body>
</html>
