<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
  <title>JavaScript Quiz One</title>
  <style type="text/css">
    body {
      margin: 10px 150px;
    }

    div {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h1>JavaScript Quiz 1</h1>
  <p>Modify this page so that clicking anywhere in this paragraph indents its first line by 50px. Clicking on the button
    should center the heading, change the image from jaylenbrown1.png to jaylenbrown2.jpg, and hide the paragraph below
    button .</p>
  <button>I am rich!</button>
  <p>
    I need a big contract!
  </p>
  <div>
    <img alt="jaylen brown" height="100" src="images/jaylenbrown1.png"/>
  </div>
</body>
</html>
