<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
  <title>CS15-InClass2 - Temperature Converter</title>
  <style type="text/css">
    form {
      font-family: Arial;
      font-weight: bold;
      padding: 60px;
      width: 50%;
      margin-right: auto;
      margin-left: auto;
      background-color: Silver;
    }

    h1 {
      font-family: Arial;
      font-weight: bold;
      text-align: center;
    }

    div#d1 {
      margin-bottom: 40px;
    }
  </style>
</head>
<body>
  <!-- Your HTML goes here -->
  <h1>Celsius Fahrenheit Converter</h1>
  <form action="" method="post">
    <div id="d1">
      <label>
        Celsius:
      </label>
      <input name="cel" size="10" type="text"/>
      <label>
        Fahrenheit:
      </label>
      <input name="far" size="10" type="text"/>
    </div>
    <div style="margin-left:100px">
      <input
        name="submit"
        style="width:80px; height:40px;"
        type="submit"
        value="Convert"
      />
      <input
        name="reset"
        style="width:80px; height:40px;"
        type="reset"
        value="Clear"
      />
    </div>
  </form>
</body>
</html>
