<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <title>Image Processing using JavaScript</title>
    <style type="text/css"></style>
    <script>
      function changePic() {
        let c = document.getElementById("myCanvas");
        let ctx = c.getContext("2d");
        let tigerImage = document.getElementById("tiger");
        ctx.drawImage(tigerImage, 0, 0);
        let imgData = ctx.getImageData(0, 0, c.width, c.height);

        for (let i = 0; i < imgData.data.length; i += 4) {
          //imgData.data[i] = 0;
        }
        ctx.putImageData(imgData, 0, 0);
      }
    </script>
  </head>
  <body>
    <img alt="class" id="tiger" src="images/tiger1.jpg" width="500" />
    <canvas height="333" id="myCanvas" width="500">
      Your browser does not support the HTML5 canvas tag.
    </canvas>
    <p>
      <button id="button1" onclick="changePic()">Change</button>
      <button id="button2" onclick="getGrayscale()">Grayscale</button>
      <button id="button3" onclick="getNegative()">Negative</button>
    </p>
  </body>
</html>
